<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<link rel="stylesheet" href="../css/jquery.mobile-1.4.0.min.css" />
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/jquery.mobile-1.4.0.min.js"></script>
</head>
 

<!-- PROBLEM: How do I get data from the database? -->
<body>
 
<div data-role="page" id="home" data-title="尋云拉贊網：首頁"> <!--HOMEPAGE-->
 
<div data-role="header" data-position="fixed">
  <a href="#" onclick="history.back()" data-role="button" data-icon="back" data-iconpos="notext" data-inline="true">Back</a>
  <!--add logo img here-->
  <h1>首頁</h1>
  <a href="index.php" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true">Home</a>
</div>
<div data-role="content">
  <div data-role="controlgroup">
  	<a class="ui-btn ui-icon-carat-r ui-btn-icon-right" href="district.php?id=1">公館</a>
    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right" href="district.php?id=2">台電大樓</a>
    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right" href="district.php?id=3">新生南路</a>
    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right" href="district.php?id=4">後門、118巷</a>
    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right" href="district.php?id=5">科技大樓</a>
    <a class="ui-btn ui-icon-carat-r ui-btn-icon-right" href="district.php?id=6">其他</a>
  </div>
</div>
<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
  	<ul>
      <li><a data-icon="star" href="javascript:window.external.AddFavorite(window.document.location,window.document.title)">Fav</a></li>
      <li><a data-icon="search" href="search.php">Search</a></li>
    </ul>
  </div>
</div>

</div>
 
</body>
</html>