<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<link rel="stylesheet" href="../css/jquery.mobile-1.4.0.min.css" />
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/jquery.mobile-1.4.0.min.js"></script>
</head>
 

<!-- PROBLEM: How do I get data from the database? -->
<body>
 
<div data-role="page" id="home" data-title="尋云拉贊網：首頁"> <!--HOMEPAGE-->
 
<div data-role="header" data-position="fixed">
  <a href="#" onclick="history.back()" data-role="button" data-icon="back" data-iconpos="notext" data-inline="true">Back</a>
  <!--add logo img here-->
  <h1>首頁</h1>
  <a href="index.php" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true">Home</a>
</div>
<div data-role="content">
  <form method="post" action="">
    <label for="search">關鍵字</label>
    <input name="keyword" id="search" value="" placeholder="請輸入關鍵字..." type="search">
    <div class="ui-field-contain">
      <label for="district">搜尋條件</label>
      <select multiple="multiple" data-native-menu="false" name="district" id="district">
        <option value="">區域</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select multiple="multiple" data-native-menu="false" name="record" id="record">
        <option value="">最新年度拉贊金額</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <center><button type="submit" id="submit" class="ui-btn ui-corner-all ui-btn-inline">開始搜尋</button></center>
</div>
  </form>
</div>
<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
  	<ul>
      <li><a data-icon="star" href="javascript:window.external.AddFavorite(window.document.location,window.document.title)">Fav</a></li>
      <li><a data-icon="search" href="search.php">Search</a></li>
    </ul>
  </div>
</div>

</div>
 
</body>
</html>